<div class="container" style="text-align: center;">
  <div class="row d-flex justify-content-center align-items-center card-body" style="border: 1px solid rgba(0,0,0,.125); border-radius: 0.25rem; background-color: whitesmoke; margin: 3px;">
    <div class="col-3">
      <span>Código</span>
    </div>
    <div class="col-3">
      <span>Nombre</span>
    </div>
    <div class="col-3">
      <span>Precio de venta</span>
    </div>
    <div class="col-3">
      <span></span>
    </div>
  </div>
  <app-venta-producto *ngFor="let item of list" [item]="item"></app-venta-producto>
</div>

