@import url(https://fonts.googleapis.com/css?family=Lato);

/*body{*/
/*  width:90%;*/
/*  margin: 0 auto;*/
/*  min-width:600px;*/
/*  max-width:2000px*/
/*}*/

/*!*body {*!*/
/*!*  display: flex;*!*/
/*!*  height: 100vh;*!*/
/*!*  justify-content: center;*!*/
/*!*  align-items: center;*!*/
/*!*  text-align: center;*!*/
/*!*  background: #1A1E23;*!*/
/*!*  width: 100%;*!*/
/*!*}*!*/

ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  text-align: center;
}

li {
  padding: 6px 0;
  margin: 10px 15px 10px 10px;

}

a {
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: #ecf0f1;
  text-decoration: none;
  /*text-transform: uppercase;*/
  transition: 0.5s;
}

a::after {
   position: absolute;
   content: "";
   top: 100%;
   left: 0;
   width: 100%;
   height: 3px;
   background: #3498db;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 0.5s;
 }

a:hover {
   color: #95a5a6;
}

a:hover::after {
   transform: scaleX(1);
   transform-origin: left;
}

