<!--<span>{{ title }} está ejecutándose y será una gran aplicación</span>-->
<!--<br>-->
<!--<app-clientes></app-clientes>-->
<link rel="stylesheet" href="app.component.css">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active item" href="">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active item" href="/productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active item" href="/ventas_productos">Ventas de productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active item" href="/ventas_resumido">Ventas resumido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active item" href="/ventas_detallado">Ventas detallado</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
