<div class="container">
  <section style="margin-bottom: 80px;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center" style="margin-top: 50px;">
        <div class="col-xl-9">

          <h1 class="text-black mb-4" style="display: flex; justify-content: center;">Administración de productos</h1>

          <div class="card" style="border-radius: 15px;">
            <div class="card-body">

              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3">

                  <h6 class="mb-0" style="padding-bottom: 8px;">Código</h6>

                </div>
                <div class="col-md-9 ">

                  <input #codigo type="text" class="form-control form-control-lg"/>

                </div>
              </div>

              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3">

                  <h6 class="mb-0" style="padding-bottom: 8px;">Nombre</h6>

                </div>
                <div class="col-md-9 ">

                  <input #nombre type="text" class="form-control form-control-lg"/>

                </div>
              </div>

              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3">

                  <h6 class="mb-0" style="padding-bottom: 8px;">Precio de venta</h6>

                </div>
                <div class="col-md-9 ">

                  <input #precioventa type="text" class="form-control form-control-lg"/>

                </div>
              </div>

<!--              <hr class="mx-n3">-->

              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3">

                  <h6 class="mb-0" style="padding-bottom: 8px;">Existencia</h6>

                </div>
                <div class="col-md-9 ">

                  <input #existencia type="text" class="form-control form-control-lg"/>

                </div>
              </div>

              <hr class="mx-n3">

              <div class="px-5 py-4" style="display: flex; justify-content: center;">
                <button type="submit" value="registrar" (click)="addProducto(codigo, nombre, precioventa, existencia)"  class="btn btn-primary btn-lg">Agregar</button>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>

<h1 style="text-align: center; margin-bottom: 1.5rem!important;">Lista de Productos</h1>

<!--<app-cliente *ngFor="let cliente of clientes; let i=index" [list_cliente]="empleado" [indice]="i"></app-cliente>-->
<app-producto></app-producto>
